@media (max-width: 767px) {
    .about {
      padding-top: 0;
      margin-top: 0;
    }
  
    .about .section-title {
      display: none !important;
    }
  }
  
  .about h1 {
    font-size: var(--h1-font-size);
  }
  .about img {
    height: 300px !important;
    width: 100% !important;
    object-fit: fill !important;
  }

  .about .about-desciption-head{
    text-align: start !important;
    text-transform: capitalize !important;
  }
  .about .about-desciption{
    text-align: justify !important;
  }