/*--------------------------------------------------------------
# DEPARTMENTS DETAILED PAGE
--------------------------------------------------------------*/
.departments .nav-tabs {
  border: 0;
  padding: 15px;
  background-color: #f0f0f0;
  border: 1px solid #eee;
}
.departments li {
  margin: 10px;
}

.departments .nav-link {
  border: 0;
  padding: 15px;
  color: #3e3e3e;
  border-radius: 0;
  cursor: pointer;
  background-color: white;
  margin: 0;
}

.departments .nav-link p {
  font-size: var(--normal-font-size) !important;
  /* font-weight: var(--font-semi-bold); */

  transition: 0.3s;
  margin: 0;
  /* color: black !important; */
  transition-duration: 0.4s;
  /* text-transform: uppercase; */
}

.departments .nav-link p {
  margin-bottom: 0;
}
.departments .nav-link:hover {
  background-color: crimson;
}

.departments .nav-link:hover p {
  color: white !important;
  /* text-align: center !important; */
  translate: 20px 0;
}

.departments .nav-link.active {
  background-color: crimson;

  /* border-color: crimson; */
}

.departments .nav-link.active p {
  color: white !important;
}

.departments .tab-pane.active {
  animation: slide-down 0.5s ease-out;
}

.departments .tab-pane h3 {
  font-size: 20px;
  color: #2c4964;
  text-transform: uppercase;
  /* margin: var(--mb-5) 0px; */
  margin: 0;
  padding: 0;
}
.departments .tab-pane .department-img {
  width: 100%;
}
.departments .tab-pane .department-img img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
.departments .tab-pane .department-img p {
  text-align: justify;
}

.departments .department-description p {
  text-align: justify;
  margin-bottom: var(--mb-3);
}

.departments .doc {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  margin-right: 25px;
  margin-bottom: var(--mb-3);
  padding: 10px;
  box-shadow: 0px 2px 15px rgba(155, 154, 154, 0.455);
}

.departments .doc-info {
  padding: var(--mb-2);
  width: 300px;
}

.departments .doc-info p {
  margin: 0;
}

.departments .doc:hover {
  box-shadow: 0px 2px 15px rgba(49, 47, 47, 0.149);
}

.departments .doc .pic {
  overflow: hidden;
  width: 180px;
  height: 220px;
  object-fit: cover !important;
  display: flex;
  justify-content: center !important;
}

.departments .doc .pic img {
  transition: ease-in-out 0.3s;
  width: 160px;
  height: 190px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 12px;
}

.departments .doc h4 {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 15px;
  /* color: #2c4964; */
}

.departments .doc span {
  display: block;
  font-size: 15px;
  position: relative;
  font-weight: 600;
  color: #3e3e3e;
}

.doc-appointment {
  font-weight: 500;
  font-size: 14px;
  padding: 10px 35px;
  /* border-radius: 25px; */
  transition: 0.5s;
  color: white;
  background-color: crimson;
}

.doc-appointment:hover {
  background-color: #db0732;
  color: white;
}

/* .doctors .doc span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #b2c8dd;
  bottom: 0;
  left: 0;
} */

.departments .doc p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

@media (max-width: 768px) {
  /* .departments .tab-pane img {
    float: none;
    padding: 0 0 15px 0;
    max-width: 100%;
  } */


  .departments .tab-pane .department-img img{
    height: 185px;
  }

  .departments .doc {
    display: flex;
    flex-direction: column !important;
    padding: 40px;
  }

  .departments .doc-info {
    margin-bottom: 10px;
  }

  .doc-appointment {
    padding: 6px 25px;
    margin-bottom: 10px;
  }

  .departments .department-description p {
    color: #777777;
    margin-bottom: var(--mb-5);
  }
}

/* .departments .tab-pane h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: crimson;
  text-align: center !important;
} */
.departments .tab-pane p {
  color: #3e3e3e;
}

@keyframes slide-down {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
