.footer,
.footer-credits {
  background-color: #262324;
  color: #c9c7c7;
  padding: 30px;
}
.footer {
  line-height: 2.5;
  margin-top: 30px;
}

.footer .hospital-contact {
  line-height: 2;
}
.footer h4 {
  color: #c9c7c7 !important;
  font-size: 16px;
}

.footer-data {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  height: 100px;
  width: 100px;
}

.footer h3 {
  font-size: 1rem;
}
.footer p {
  font-size: 0.8rem;
  margin-bottom: 8px !important;
}

.footer ul {
  padding: 0;
}
.footer ul li {
  list-style: none;
  color: #c9c7c7 !important;
}

.footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: crimson;
  color: #fff;
  line-height: 1;
  padding: 8px;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  transition: 0.3s;
}

.footer .social-links a:hover {
  background: white;
  color: crimson;
  text-decoration: none;
}

.footer .footer-links {
  font-size: 0.8rem;
}

.footer-credits {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 0.8rem;
  padding: 15px;
}
.footer-credits .credit-azaic {
  color: crimson;
}

.footer-icons {
  margin-right: 8px !important;
}
