/* Show carousel control buttons on mobile devices */
/* @media (max-width: 768px) {
    .carousel-control-prev,
    .carousel-control-next {
      display: block !important;
      font-size: 10px !important;
    }
  } */


  /* Homecarousel.css */

/* Set the carousel height to fill the remaining viewport height for larger screens */
.carousel {
  height: calc(100vh - 100px);
}



/* Adjust image dimensions to cover the full carousel area for larger screens */
.carousel-inner img {
  object-fit: fill !important;
  height: 100%;
  width: 100%;
  box-shadow: none !important;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  /* Reduce the carousel height for smaller screens */
  .carousel {
    height: 270px !important; /* You can adjust the value as needed */
  }

  /* Adjust image dimensions to cover the full carousel area for smaller screens */
  .carousel-inner img {
    height: 250px !important;
    width: 100%;
  }
}


@media (min-width: 992px) {

  .hero{
    margin: 0;
    padding: 0;
  }
  .carousel-item {
    height: calc(100vh - 130px);  
  }
}
  