/* .carousel-inner img {
  object-fit: fill !important;
  max-width: 100%;
  height: auto;
  box-shadow: none !important;
}

@media (max-width: 768px) {
  .carousel {
    height: 270px !important;
  }

  .carousel-inner img {
    height: 250px !important;
  }
}

@media (min-width: 992px) {
  .hero {
    margin: 0;
    padding: 0;
  }
  .carousel-item {
    height: calc(100vh - 130px);
  }
}

@media (max-width: 767px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
} */

.hero {
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .carousel-item {
    padding: 40px;
  }

  .carousel-item img {
    max-width: 100%;
    object-fit: cover !important;
    height: 200px !important;
  }
}

.carousel-item img {
  max-width: 100%;
  object-fit: cover !important;
  height: auto;
}

@media (min-width: 992px) {
  .hero {
    margin: 0;
    padding: 0;
  }
  .carousel-item {
    height: calc(100vh - 130px);
  }
}
