.post-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  box-shadow: -1px 0px 5px 4px rgba(78, 77, 77, 0.058);
}

.post-img img {
  border-radius: 15px 15px 0 0;
}

.post-desc {
  text-align: justify;
}
.post-desc p {
  overflow: hidden;
  max-height: 100px; /* Set a maximum height for the transition */
  transition: 0.7s ease-in-out; /* Transition for max-height */
}

.redmore-expanded .post-desc p {
  max-height: 1000px; /* Set a large value for max-height when expanded */
}

/* Reverse transition when collapsing */
.redmore-collapsed .post-desc p {
  max-height: 100px;
}

.post-title {
  font-size: 16px;
  font-weight: 500;
}

.post-date {
  font-style: italic !important;
  font-weight: 400;
}

.post-readmore {
  background-color: crimson;
  color: white;
  border: none;
  font-size: 12px;
  padding: 10px;
  border-radius: 5px;
}

.post-readmore:hover,
.post-readmore:active {
  background-color: #fa1845 !important;
}

.news-image img {
  max-height: 500px !important;
  width: 100%;
  object-fit: cover;
  border: 2px solid #bebbbb;
}

.redmore {
  background-color: crimson !important;
  color: white; /* Button text color */
  text-align: center;
  padding: 8px 16px; /* Adjust padding as needed */
  border: none;
  border-radius: 4px; /* Adjust border-radius as needed */
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px; /* Adjust the margin as needed */
}

.redmore:hover {
  background-color: darkred; /* Darken the background on hover */
}
