.topbar {
  height: 40px;
  background-color: crimson;
  color: white;
}

.topbar .hospital-contact {
  font-size: 12px;
  font-weight: 500;
}
.topbar .hospital-contact .topbar-icons {
  margin-right: var(--mb-1) !important;
  border: 1px solid white;
  padding: 5px;
  border-radius: 50%;
  transition-duration: 0.4s;
  color: white !important;
}

.topbar .hospital-contact .topbar-icons:hover {
  background-color: white !important;
  color: crimson !important;
  border: 1px solid #ffffff;
}

.hospital-social .topbar-social {
  margin-right: var(--mb-1) !important;
  border: 1px solid white;
  padding: 5px;
  border-radius: 50%;
  transition-duration: 0.4s;
  color: white !important;
}

.hospital-social .topbar-social:hover {
  background-color: white !important;
  color: crimson !important;
  border: 1px solid #ffffff;
}
.emergency-contact,
.hospital-email,
.make-appointment {
  margin-right: 12px;
}

.make-appointment span {
  color: white;
  transition-duration: 0.4s;
}

.make-appointment span:hover {
  color: #faa5b6;
}
