.vision-mission-box p {
  text-align: justify !important;
}

.vision-mission-box h3 {
  font-size: 18px !important;
  text-transform: uppercase;
  font-weight: 600;
}

@media (min-width: 767px) {
  .VisionmissionImage {
    height: 300px;
    width: 500px;
  }
}
